[Unit]
Description=WordArena Server
After=network.target

[Service]
User=wordarena
ExecStart=/usr/bin/java -jar /opt/wordarena/wordarenad.jar /opt/wordarena/config.properties

[Install]
WantedBy=multi-user.target
